body{
    font-size: 16px; /* 1 em */
    margin: 0px auto;
    /* Recomendacion del cliente*/
    max-width: 1078px;
    max-height: 1078px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header input{
    float: right;
    margin-top: 15px;
    margin-right: -230px;
    border: 1px solid;
    border-radius: 3px;
}

header nav{
    margin-left: 240px;
}

header nav ul li{
    display: inline-block;
    color: lightgray;
    font-size: 1.5em;
    position: relative;
    margin-right: 15px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 3px;
}

#granthams{
    margin-top: 25px;
    margin-left: 25px;
}

#paint{
    float: right;
}

#primeraSeccion{
    margin-top: 60px;

}

#primeraSeccion article{
    display: inline-block;
    vertical-align: top;
}

#secc01art01{
    width: 61%;
    float:left;
    margin-left: 30px;
    margin-top: -140px;
    
}

#secc01art02{
    width: 30%;
    float:left;
    margin-left: 50px;
    line-height: 35px;
    margin-bottom: 50px;
}

#primeraSeccion #secc01art02 ul li{
    color: #f4a4c8;
    list-style-type: square;
    line-height: 18px;
}

#primeraSeccion #secc01art02 ul li span{
    color: black;
    font-size: 0.8em;
}

#offer{
    position: relative;
    bottom: -50px;
    left: -65px;
}

#segundaSeccion article span{
    float: right;
    margin-right: 90px;
    margin-left: 700px;
    margin-bottom: 10px;
}

#terceraSeccion{
    padding-bottom: 30px;
}

#terceraSeccion article {
    display: inline-block;
    vertical-align: top;
    width: 23%;
}
#terceraSeccion article img{
    vertical-align: middle;
}

#sec03art04{
    padding-top: 40px;
}

footer{
    background-color: rgb(60, 60, 237);
    color: white;
}

#cuartaSeccion article {
    display: inline-block;
}

#sec04art01{
    width: 36%;
    line-height: 27px;
    font-size: 0.8em;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}
#sec04art02{
    width: 33%;
    font-size: 0.8em;
    text-align: center;
    line-height: 27px;
}

#sec04art03{
    width: 23%;
}

#facebook{
    position: relative;
    bottom: 25px;
    left: 60px;
}
#twitter{
    position: relative;
    bottom: 25px;
    left: 70px;
}
#monitos{
    position: relative;
    bottom: 120px;
    left: 200px;
}

#sec04art03 span{
    position: relative;
    color: rgb(60, 60, 237);
    bottom: 110px;
}

#sec04art03 input{
    position: relative;
    border-radius: 20px;
    color: white;
    border: 1.5px white solid;
    background-color: rgb(60, 60, 237);
    pointer-events: none;
    left: 100px;
}

.colorrosa {
    color: #FF0099;
}
.colorverde{
    color: rgb(45, 193, 45);
}
.colorazul{
    color: rgb(60, 60, 237);
}

.letragrande{
    font-size: 3.5em;
} 
.letramediana{
    font-size: 2.1em;
}
.letrapequena{
    font-size: 1.1em;
}
.nito{
    font-weight: bold;
}