body{
    font-size: 16px; /* 1 em */
    margin: 0px auto;
    /* Recomendacion del cliente*/
    max-width: 1078px;
    max-height: 1078px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#logo{
    margin-left: 5px;
    margin-top: 20px;
}

#tema{
    width: 255px;
    height: 26px;
}

#red1{
    position: relative;
    left: 610px;
    top: -30px;
    width: 28px;
    height: 28px;
}

#red2{
    position: relative;
    left: 615px;
    top: -30px;
    width: 28px;
    height: 28px;
}

#red3{
    position: relative;
    left: 620px;
    top: -30px;
    width: 28px;
    height: 28px;
}

header nav ul{
    border-radius: 5px;
    background-color: orangered;
}

header nav ul li{
    display: inline-block;
    margin-left: -35px;
    margin-right: 58px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: left;
    color: white;
    font-size: 0.95em;
}

#Seccion01 article{
    display: inline-block;
    vertical-align: top;
}

#sec01art01{
    width: 57%;
    float: left;
    margin-left: 20px;
    margin-right: 50px;
}

#sec01art02{
    width: 30%;
    float: left;
    border-radius: 5px;
    margin-bottom: 60px;
    margin-right: 50px;
    border: 1px black solid;
}

#sec01art02 span{
    align: center;
    border: 1px red solid;
    border-radius: 15px;
    margin-left: -8px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 2px;
    padding-top: 2px;
    vertical-align: top;
    background-color: orangered;
    color: white;
}

#sec01art02 img{
    width: 150px;
    height: 100px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 2px;
}

#Seccion02{
    margin-top: 350px;
}

#titulo{
    font-size: 1.6em;
    color: gray;
}

#post{
    vertical-align: top;
    border: 8px gray solid;
    padding: 0px;
}

#sec02art01{
    width: 60%;
    height: 230px;
}

#sec02art01 p{
    position: relative;
    left: 185px;
    top:-180px;
    width: 71%;
    text-align: justify;
}

#sec02art01 input{
    pointer-events: none;
    font-style: italic;
    color: white;
    background-color: gray;
    border: 0px;
    border-radius: 3px;
    position: relative;
    left: 185px;
    top: -190px;
    font-weight: bold;
}

#sec02art02{
    border: 1px black solid;
    width: 23.6%;
    border-radius: 10px;
    position: relative;
    left: 725px;
    top: -200px;
    padding-bottom: 10px;
}

#sec02art02 span{
    border-radius: 15px;
    margin-left: -8px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: orangered;
    color: white;
}

#sec02art02 input[type="search"]{
    margin-top: 10px;
    margin-left: 18px;
    border-radius: 10px;
    border: 1px solid;
}

#sec02art02 input[type="button"]{
    border-radius: 50px;
    border: none;
}

#sec02art03{
    border: 1px black solid;
    width: 23.6%;
    border-radius: 10px;
    position: relative;
    left: 725px;
    top: -180px;
    padding-bottom: 10px;
}

#sec02art03 span{
    border-radius: 15px;
    margin-left: -8px;
    padding-left: 95px;
    padding-right: 95px;
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: orangered;
    color: white;
}

#sec02art03 ul li{
    line-height: 25px;
    border-bottom: 1px gray solid;
    color: gray;
    width: 80%;
}

